In [3]:
import pandas as pd

In [4]:
sales_forecasting_data = pd.read_csv("./sales-forecasting/train.csv")

In [5]:
sales_forecasting_data

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

### 1. Count total number of orders per 'Region'

In [6]:
sales_forecasting_data.groupby('Region').size()

Region
Central    2277
East       2785
South      1598
West       3140
dtype: int64

### 2. Count total 'Sales' by 'Category'

In [7]:
sales_forecasting_data.groupby('Category')['Sales'].sum()

Category
Furniture          728658.5757
Office Supplies    705422.3340
Technology         827455.8730
Name: Sales, dtype: float64

### 3. Count total 'Sales' and average 'Sales' by 'Sub-Category

In [8]:
sales_forecasting_data.groupby('Sub-Category')['Sales'].agg(Sales_Count="count",Total_Sales="sum", Average_Sales="mean").style.format("{:.2f}")

### 4. Find total sales by 'State'

In [9]:
sales_forecasting_data.groupby('State')['Sales'].agg(Sales_Count="count",Total_Sales="sum", Average_Sales="mean").style.format("{:.2f}")

### 5. Find the average sales per 'Ship Mode'

In [10]:
sales_forecasting_data.groupby('Ship Mode')['Sales'].agg(Sales_Count="count", Average_Sales='mean')

                Sales_Count  Average_Sales
Ship Mode
First Class            1501     230.228020
Same Day                538     232.749143
Second Class           1902     236.547939
Standard Class         5859     228.849856

### 6. Find the number of unique customers in each region

In [11]:
sales_forecasting_data.groupby('Region')['Customer ID'].agg(Unique_Customer_Count= "nunique")

         Unique_Customer_Count
Region
Central                    626
East                       669
South                      509
West                       681

### 7. Find total and average sales per year

In [12]:
sales_forecasting_data.groupby(pd.to_datetime(sales_forecasting_data["Order Date"],dayfirst=True).dt.year)['Sales'].agg(
    Sales_Count="count",
    Sales_Total="sum",
    Sales_Average="mean")

            Sales_Count  Sales_Total  Sales_Average
Order Date
2015               1953  479856.2081     245.702103
2016               2055  459436.0054     223.569832
2017               2534  600192.5500     236.855781
2018               3258  722052.0192     221.624315

### 8. Group date by 'Segment' and 'Category' then count average sales

In [13]:
segment_category_grouped_data = (sales_forecasting_data.groupby(
    ['Segment','Category'])['Sales']
        .agg(Total_Sales="count",
            Average_Sales="mean")
        .round(2)
        .reset_index())
segment_category_grouped_data.index+=1

segment_category_grouped_data

       Segment         Category  Total_Sales  Average_Sales
1     Consumer        Furniture         1093         354.71
2     Consumer  Office Supplies         3072         116.98
3     Consumer       Technology          936         428.43
4    Corporate        Furniture          628         350.83
5    Corporate  Office Supplies         1783         125.70
6    Corporate       Technology          542         450.26
7  Home Office        Furniture          357         337.93
8  Home Office  Office Supplies         1054         115.69
9  Home Office       Technology          335         544.48

### 9. Find Maximum Minimum sales per customer

In [14]:
customer_grouped_data = (sales_forecasting_data.groupby(['Customer ID','Customer Name'])['Sales'].agg(Maximum_Sale="max", Minimum_Sale="min"))

customer_grouped_data

                                Maximum_Sale  Minimum_Sale
Customer ID Customer Name
AA-10315    Alex Avila              3930.072         2.304
AA-10375    Allen Armold             499.980         5.248
AA-10480    Andrew Allen             479.970         7.640
AA-10645    Anna Andreadi           1323.900         5.280
AB-10015    Aaron Bergman            341.960        12.624
...                                      ...           ...
XP-21865    Xylona Preis             337.088         2.210
YC-21895    Yoseph Carroll          2934.330        15.700
YS-21880    Yana Sorensen           2793.528         9.552
ZC-21910    Zuschuss Carroll        1516.200         0.444
ZD-21925    Zuschuss Donatelli       823.960         8.560

[793 rows x 2 columns]

### 10. Display the order with the hightest sales

In [15]:
sales_forecasting_data.nlargest(1, 'Sales')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2697,2698,CA-2015-145317,18/03/2015,23/03/2015,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,Florida,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48

### 11. Find the total sales and total number of orders per city

In [16]:
sales_forecasting_data.groupby('City')['Sales'].agg(Total_Orders='count', Total_Sales='sum')

             Total_Orders  Total_Sales
City
Aberdeen                1       25.500
Abilene                 1        1.392
Akron                  20     2724.244
Albuquerque            14     2220.160
Alexandria             16     5519.570
...                   ...          ...
Woonsocket              4      195.550
Yonkers                15     7657.666
York                    5      817.978
Yucaipa                 1       50.800
Yuma                    4      840.865

[529 rows x 2 columns]

### 12. Group Data by 'Order' 'Year' and 'Region' -- Find average sales

In [17]:
(sales_forecasting_data
 .groupby(['Region', pd.to_datetime(sales_forecasting_data['Order Date'],dayfirst=True).dt.year, ])['Sales']
 .agg(Total_Orders='count',Total_Sales='sum',Average_Sales='mean')).round(2)

                    Total_Orders  Total_Sales  Average_Sales
Region  Order Date
Central 2015                 455    102920.52         226.20
        2016                 474    102425.17         216.09
        2017                 591    145673.88         246.49
        2018                 757    141627.34         187.09
East    2015                 506    127652.82         252.28
        2016                 626    153225.18         244.77
        2017                 745    178511.54         239.61
        2018                 908    210129.19         231.42
South   2015                 344    103374.91         300.51
        2016                 330     70076.08         212.35
        2017                 411     93535.90         227.58
        2018                 513    122164.57         238.14
West    2015                 648    145907.96         225.17
        2016                 625    133709.57         213.94
        2017                 787    182471.23         231.86
        2018                1080    248130.93         229.75

### 13. Find how many orders each customer placed

In [18]:
(sales_forecasting_data
    .groupby(['Customer ID', 'Customer Name'])['Order ID'].agg(Total_Orders='count'))

                                Total_Orders
Customer ID Customer Name
AA-10315    Alex Avila                    11
AA-10375    Allen Armold                  15
AA-10480    Andrew Allen                  12
AA-10645    Anna Andreadi                 18
AB-10015    Aaron Bergman                  6
...                                      ...
XP-21865    Xylona Preis                  28
YC-21895    Yoseph Carroll                 8
YS-21880    Yana Sorensen                 12
ZC-21910    Zuschuss Carroll              31
ZD-21925    Zuschuss Donatelli             9

[793 rows x 1 columns]

In [19]:
sales_forecasting_data.loc[sales_forecasting_data['Customer Name']=='Aaron Bergman']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
4961,4962,CA-2015-156587,07/03/2015,08/03/2015,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103.0,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712
4962,4963,CA-2015-156587,07/03/2015,08/03/2015,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103.0,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940
4963,4964,CA-2015-156587,07/03/2015,08/03/2015,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103.0,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940
8222,8223,CA-2015-152905,18/02/2015,24/02/2015,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,Texas,76017.0,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624
8801,8802,CA-2017-140935,10/11/2017,12/11/2017,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,Oklahoma,73120.0,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980
8802,8803,CA-2017-140935,10/11/2017,12/11/2017,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,Oklahoma,73120.0,Central,FUR-BO-10003966,Furniture,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",341.960

### 14. Find which category has the highest average sales

In [20]:
(sales_forecasting_data
    .groupby('Category')['Sales']
    .agg(Total_Count='count', Total_Sales="sum", Average_Sales= 'mean')).round(2).nlargest(1,'Average_Sales')

            Total_Count  Total_Sales  Average_Sales
Category
Technology         1813    827455.87          456.4

### 15. For each state find the most common 'Ship Mode'

In [21]:
state_common_ship_mode = (
    sales_forecasting_data
    .groupby(['State', 'Ship Mode'])['Ship Mode']
    .agg(Total_Orders='count')
    .reset_index()
    .sort_values(['State', 'Total_Orders'], ascending=[True, False])
    .drop_duplicates(subset=["State"],keep="first")
    .reset_index(drop=True)
    
)

state_common_ship_mode.index+=1

state_common_ship_mode

                   State       Ship Mode  Total_Orders
1                Alabama  Standard Class            33
2                Arizona  Standard Class           138
3               Arkansas  Standard Class            38
4             California  Standard Class          1129
5               Colorado  Standard Class            96
6            Connecticut  Standard Class            42
7               Delaware  Standard Class            60
8   District of Columbia  Standard Class             7
9                Florida  Standard Class           225
10               Georgia  Standard Class           111
11                 Idaho  Standard Class            13
12              Illinois  Standard Class           292
13               Indiana  Standard Class            86
14                  Iowa  Standard Class            18
15                Kansas  Standard Class            15
16              Kentucky  Standard Class            67
17             Louisiana  Standard Class            15
18                 Maine  Standard Class             8
19              Maryland  Standard Class            66
20         Massachusetts  Standard Class            76
21              Michigan  Standard Class           166
22             Minnesota  Standard Class            62
23           Mississippi  Standard Class            39
24              Missouri    Second Class            28
25               Montana  Standard Class            13
26              Nebraska  Standard Class            22
27                Nevada  Standard Class            21
28         New Hampshire  Standard Class            14
29            New Jersey  Standard Class            88
30            New Mexico  Standard Class            26
31              New York  Standard Class           659
32        North Carolina  Standard Class           154
33          North Dakota    Second Class             5
34                  Ohio  Standard Class           224
35              Oklahoma  Standard Class            47
36                Oregon  Standard Class            83
37          Pennsylvania  Standard Class           367
38          Rhode Island    Second Class            21
39        South Carolina    Second Class            18
40          South Dakota  Standard Class             9
41             Tennessee  Standard Class           134
42                 Texas  Standard Class           597
43                  Utah  Standard Class            28
44               Vermont  Standard Class            10
45              Virginia  Standard Class           126
46            Washington  Standard Class           293
47         West Virginia  Standard Class             3
48             Wisconsin  Standard Class            76
49               Wyoming  Standard Class             1

In [22]:
sales_forecasting_data.loc[sales_forecasting_data['State']=="Missouri"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
144,145,CA-2018-155376,22/12/2018,27/12/2018,Standard Class,SG-20080,Sandra Glassco,Consumer,United States,Independence,Missouri,64055.0,Central,OFF-AP-10001058,Office Supplies,Appliances,Sanyo 2.5 Cubic Foot Mid-Size Office Refrigera...,839.43
510,511,CA-2018-135307,26/11/2018,27/11/2018,First Class,LS-17245,Lynn Smith,Consumer,United States,Gladstone,Missouri,64118.0,Central,FUR-FU-10001290,Furniture,Furnishings,Executive Impressions Supervisor Wall Clock,126.30
511,512,CA-2018-135307,26/11/2018,27/11/2018,First Class,LS-17245,Lynn Smith,Consumer,United States,Gladstone,Missouri,64118.0,Central,TEC-AC-10002399,Technology,Accessories,SanDisk Cruzer 32 GB USB Flash Drive,38.04
1036,1037,CA-2017-113061,22/04/2017,26/04/2017,Standard Class,EL-13735,Ed Ludwig,Home Office,United States,Jefferson City,Missouri,65109.0,Central,FUR-FU-10003975,Furniture,Furnishings,Eldon Advantage Chair Mats for Low to Medium P...,86.62
1040,1041,CA-2017-127670,20/03/2017,24/03/2017,Standard Class,RD-19660,Robert Dilbeck,Home Office,United States,Saint Peters,Missouri,63376.0,Central,FUR-TA-10001095,Furniture,Tables,Chromcraft Round Conference Tables,697.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9256,9257,CA-2015-168368,11/02/2015,15/02/2015,Second Class,GA-14725,Guy Armstrong,Consumer,United States,Columbia,Missouri,65203.0,Central,OFF-BI-10004728,Office Supplies,Binders,Wilson Jones Turn Tabs Binder Tool for Ring Bi...,9.64
9257,9258,CA-2015-168368,11/02/2015,15/02/2015,Second Class,GA-14725,Guy Armstrong,Consumer,United States,Columbia,Missouri,65203.0,Central,FUR-FU-10002298,Furniture,Furnishings,"Rubbermaid ClusterMat Chairmats, Mat Size- 66""...",332.94
9258,9259,CA-2015-168368,11/02/2015,15/02/2015,Second Class,GA-14725,Guy Armstrong,Consumer,United States,Columbia,Missouri,65203.0,Central,OFF-BI-10004654,Office Supplies,Binders,VariCap6 Expandable Binder,51.90
9259,9260,CA-2015-168368,11/02/2015,15/02/2015,Second Class,GA-14725,Guy Armstrong,Consumer,United States,Columbia,Missouri,65203.0,Central,OFF-ST-10002583,Office Supplies,Storage,Fellowes Neat Ideas Storage Cubes,64.96
9365,9366,US-2015-166828,22/08/2015,25/08/2015,First Class,JF-15415,Jennifer Ferguson,Consumer,United States,Saint Charles,Missouri,63301.0,Central,OFF-PA-10001846,Office Supplies,Paper,Xerox 1899,11.56

### 16. Find total sales per 'Category', sorted descending

In [23]:
categorized_total_sales = (
    sales_forecasting_data
    .groupby(['Category'])['Sales']
    .agg(Sales_Count='count', Sales_Total='sum')
    .sort_values('Sales_Total',ascending=False)
    .round(2)
)

categorized_total_sales

                 Sales_Count  Sales_Total
Category
Technology              1813    827455.87
Furniture               2078    728658.58
Office Supplies         5909    705422.33

### 17. Compute overall sales per 'Region' per year

In [24]:
regional_overall_sales = (
    sales_forecasting_data.groupby(['Region', pd.to_datetime(sales_forecasting_data['Order Date'],dayfirst=True).dt.year])['Sales']
    .agg(Sales_Count='count', Sales_Total='sum').round(2)
)

regional_overall_sales

                    Sales_Count  Sales_Total
Region  Order Date
Central 2015                455    102920.52
        2016                474    102425.17
        2017                591    145673.88
        2018                757    141627.34
East    2015                506    127652.82
        2016                626    153225.18
        2017                745    178511.54
        2018                908    210129.19
South   2015                344    103374.91
        2016                330     70076.08
        2017                411     93535.90
        2018                513    122164.57
West    2015                648    145907.96
        2016                625    133709.57
        2017                787    182471.23
        2018               1080    248130.93

### 18. For each 'Segment', compute the number of unique products sold

In [25]:
unique_products_sales_forecasting = (
    sales_forecasting_data
    .groupby(['Segment', 'Product ID', 'Product Name'])['Product ID']
    .agg(Total_Count='count')
)

unique_products_sales_forecasting

                                                                                Total_Count
Segment     Product ID      Product Name
Consumer    FUR-BO-10000330 Sauder Camden County Barrister Bookcase, Planke...            2
            FUR-BO-10000362 Sauder Inglewood Library Bookcases                            1
            FUR-BO-10000468 O'Sullivan 2-Shelf Heavy-Duty Bookcases                       5
            FUR-BO-10000711 Hon Metal Bookcases, Gray                                     1
            FUR-BO-10000780 O'Sullivan Plantations 2-Door Library in Landve...            4
...                                                                                     ...
Home Office TEC-PH-10004896 Nokia Lumia 521 (T-Mobile)                                    2
            TEC-PH-10004908 Panasonic KX TS3282W Corded phone                             4
            TEC-PH-10004922 RCA Visys Integrated PBX 8-Line Router                        2
            TEC-PH-10004924 SKILCRAFT Telephone Shoulder Rest, 2" x 6.5" x ...            1
            TEC-PH-10004977 GE 30524EE4                                                   2

[4314 rows x 1 columns]

### 19. For each 'Sub-Category', compute the total and mean 'Sales'

In [26]:
sub_catagory_sales_forecasting = (
    sales_forecasting_data
        .groupby('Sub-Category')['Sales']
        .agg(Sales_Count='count', Sales_Total='sum', Sales_Average='mean')
            .sort_values(['Sales_Count', 'Sales_Total', 'Sales_Average'], ascending=[True,True,True])
        .round(2)
)

sub_catagory_sales_forecasting

              Sales_Count  Sales_Total  Sales_Average
Sub-Category
Copiers                66    146248.09        2215.88
Machines              115    189238.63        1645.55
Supplies              184     46420.31         252.28
Fasteners             214      3001.96          14.03
Bookcases             226    113813.20         503.60
Envelopes             248     16128.05          65.03
Tables                314    202810.63         645.89
Labels                357     12347.73          34.59
Appliances            459    104618.40         227.93
Chairs                607    322822.73         531.83
Accessories           756    164186.70         217.18
Art                   785     26705.41          34.02
Storage               832    219343.39         263.63
Phones                876    327782.45         374.18
Furnishings           931     89212.02          95.82
Paper                1338     76828.30          57.42
Binders              1492    200028.78         134.07

### 20. Display top 3 sub-categories with highest total sales

In [27]:
highest_total_sales = (
    sales_forecasting_data
        .groupby(['Sub-Category'])['Sales']
        .agg(Sales_Count='count', Sales_Total='sum')
        .reset_index()
        .sort_values(['Sales_Total', 'Sales_Count'], ascending=[False, False])
        .round(2)
        .reset_index(drop=True)
)
highest_total_sales.index+=1

highest_total_sales.head(3)

  Sub-Category  Sales_Count  Sales_Total
1       Phones          876    327782.45
2       Chairs          607    322822.73
3      Storage          832    219343.39

In [67]:
data = {
    'account_id' :[3,2,8,6],
    'income':[108939,12747,87709,91796]
}

employee_accounts = pd.DataFrame(data)

In [68]:
employee_accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

In [ ]:

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    all_categories = ["Low Salary", "Average Salary", "High Salary"]
    accounts['category'] = (accounts['income']
        .apply(lambda x: 
            'Low Salary' if x < 20000 
             else ('High Salary' 
                    if x > 50000 
                    else 'Average Salary')))
    return pd.DataFrame(
        accounts.groupby(['category', ])
        .size()
        .reindex(all_categories, fill_value=0)
        .reset_index(name="accounts_count"))

In [72]:
accounts_category=count_salary_categories(employee_accounts)

(accounts_category)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3