In [222]:
import pandas as pd
import numpy as np

In [223]:
student_data = pd.read_csv('student_data.csv')

In [224]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

### 14.1: filtering based on string

In [225]:
data = {
    "Name":["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah"],
    "City": ["New York", "Los Angeles", "Newark", "Boston", "New Delhi", "Chicago", "New Orleans", "Houston"],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Marketing", "Finance", "HR"],
    "Salary":[50000, 60000, 55000, 70000, 52000, 58000, 62000, 51000]
}

employee_profile = pd.DataFrame(data)

In [226]:
employee_profile.index+=1

employee_profile

      Name         City Department  Salary
1    Alice     New York         HR   50000
2      Bob  Los Angeles         IT   60000
3  Charlie       Newark    Finance   55000
4    David       Boston         IT   70000
5      Eve    New Delhi         HR   52000
6    Frank      Chicago  Marketing   58000
7    Grace  New Orleans    Finance   62000
8   Hannah      Houston         HR   51000

In [227]:
### starts with new 

loc_condition = employee_profile['City'].str.contains('new', case=False)

print(loc_condition)
employee_profile.loc[loc_condition]

1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
Name: City, dtype: bool

      Name         City Department  Salary
1    Alice     New York         HR   50000
3  Charlie       Newark    Finance   55000
5      Eve    New Delhi         HR   52000
7    Grace  New Orleans    Finance   62000

In [228]:
### starts with Los

loc_condition = employee_profile['City'].str.contains(r'^Los')

print(loc_condition)
employee_profile.loc[loc_condition]

1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: City, dtype: bool

  Name         City Department  Salary
2  Bob  Los Angeles         IT   60000

In [229]:
### ends with rk

employee_profile.loc[employee_profile['City'].str.contains(r'rk$')]

      Name      City Department  Salary
1    Alice  New York         HR   50000
3  Charlie    Newark    Finance   55000

In [230]:
### name starts with vowel

employee_profile.loc[employee_profile['Name'].str.contains(r'^[AEIOU]')]

    Name       City Department  Salary
1  Alice   New York         HR   50000
5    Eve  New Delhi         HR   52000

In [231]:
# string contains new or los
employee_profile.loc[employee_profile['City'].str.contains(r'New|Los')]

      Name         City Department  Salary
1    Alice     New York         HR   50000
2      Bob  Los Angeles         IT   60000
3  Charlie       Newark    Finance   55000
5      Eve    New Delhi         HR   52000
7    Grace  New Orleans    Finance   62000

### 14.2: Adding a new column and saving file

In [232]:
### add column named country

employee_profile['Country'] = "Bangladesh"

employee_profile

      Name         City Department  Salary     Country
1    Alice     New York         HR   50000  Bangladesh
2      Bob  Los Angeles         IT   60000  Bangladesh
3  Charlie       Newark    Finance   55000  Bangladesh
4    David       Boston         IT   70000  Bangladesh
5      Eve    New Delhi         HR   52000  Bangladesh
6    Frank      Chicago  Marketing   58000  Bangladesh
7    Grace  New Orleans    Finance   62000  Bangladesh
8   Hannah      Houston         HR   51000  Bangladesh

In [233]:
### add column total marks and set value

student_data["Total Marks"] = ( 
    student_data["Data Structure Marks"].fillna(0)
    + student_data["Algorithm Marks"].fillna(0)
    + student_data["Python Marks"].fillna(0))

In [234]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0

In [235]:
### add new column Passed in DS 

student_data['DS Passed'] = student_data['Data Structure Marks'] > 70

### add new column Passed in Algorithm

student_data['Algorithm Passed'] = student_data['Algorithm Marks'] > 70

### add new column Passed in Python

student_data['Python Passed'] = student_data['Python Marks'] > 70

In [236]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True

In [237]:
### add new column first name

student_data[['First Name', 'Last Name']] = student_data['FullName'].str.split(" ", expand=True)

In [238]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [239]:
student_data.to_csv('pandas_saved/updated_student_data.csv')

In [240]:
updated_student_data = pd.read_csv('pandas_saved/updated_student_data.csv')

In [241]:
updated_student_data

,Unnamed: 0,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,NaN
15,15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

### 14.3: Checking duplicates and null values in dataframe

In [242]:
### check unique values

employee_profile['Name'].unique()

array(['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace',
       'Hannah'], dtype=object)

In [243]:
employee_profile['City'].unique()

array(['New York', 'Los Angeles', 'Newark', 'Boston', 'New Delhi',
       'Chicago', 'New Orleans', 'Houston'], dtype=object)

In [244]:
student_data['Data Structure Marks'].unique()

array([85., 92., 88., 78., nan, 75., 80., 81., 72., 89., 86., 94., 90.])

In [245]:
student_data['Data Structure Marks'].nunique()

12

In [246]:
employee_profile.nunique()

Name          8
City          8
Department    4
Salary        8
Country       1
dtype: int64

In [247]:
### check null values 

employee_profile.isnull()

    Name   City  Department  Salary  Country
1  False  False       False   False    False
2  False  False       False   False    False
3  False  False       False   False    False
4  False  False       False   False    False
5  False  False       False   False    False
6  False  False       False   False    False
7  False  False       False   False    False
8  False  False       False   False    False

In [248]:
student_data.isnull()

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [249]:
student_data['Data Structure Marks'].isnull().head(10)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: Data Structure Marks, dtype: bool

In [250]:
### checking not null

employee_profile.notnull()

   Name  City  Department  Salary  Country
1  True  True        True    True     True
2  True  True        True    True     True
3  True  True        True    True     True
4  True  True        True    True     True
5  True  True        True    True     True
6  True  True        True    True     True
7  True  True        True    True     True
8  True  True        True    True     True

In [251]:
student_data.notnull()

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,False,False,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
15,True,True,True,True,False,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,False,False,False,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [252]:
student_data['Algorithm Marks'].notnull().head(10)

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7     True
8     True
9     True
Name: Algorithm Marks, dtype: bool

### 14.4: Handling Duplicate values

In [253]:
data = {
    "Name":["Alice", "Bob","Alice", "Charlie", "David", "Eve", "Frank", "Grace","Bob", "Hannah"],
    "City": ["New York", "Los Angeles","New York", "Newark", "Boston", "New Delhi", "Chicago", "New Orleans", "London","Houston"],
    "Department": ["HR", "IT", "HR","Finance", "IT", "HR", "Marketing", "Finance","IT", "HR"],
    "Salary":[50000, 65000, 50000,55000, 70000, 52000, 58000, 62000,60000, 51000]
}

duplicated_employee_profile = pd.DataFrame(data)

In [254]:
duplicated_employee_profile

      Name         City Department  Salary
0    Alice     New York         HR   50000
1      Bob  Los Angeles         IT   65000
2    Alice     New York         HR   50000
3  Charlie       Newark    Finance   55000
4    David       Boston         IT   70000
5      Eve    New Delhi         HR   52000
6    Frank      Chicago  Marketing   58000
7    Grace  New Orleans    Finance   62000
8      Bob       London         IT   60000
9   Hannah      Houston         HR   51000

In [255]:
duplicated_employee_profile.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [256]:
duplicated_employee_profile['Name'].duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8     True
9    False
Name: Name, dtype: bool

In [257]:
duplicated_employee_profile.duplicated().sum()

np.int64(1)

In [258]:
after_dropped = duplicated_employee_profile.drop_duplicates()

after_dropped

      Name         City Department  Salary
0    Alice     New York         HR   50000
1      Bob  Los Angeles         IT   65000
3  Charlie       Newark    Finance   55000
4    David       Boston         IT   70000
5      Eve    New Delhi         HR   52000
6    Frank      Chicago  Marketing   58000
7    Grace  New Orleans    Finance   62000
8      Bob       London         IT   60000
9   Hannah      Houston         HR   51000

In [259]:
duplicated_employee_profile

      Name         City Department  Salary
0    Alice     New York         HR   50000
1      Bob  Los Angeles         IT   65000
2    Alice     New York         HR   50000
3  Charlie       Newark    Finance   55000
4    David       Boston         IT   70000
5      Eve    New Delhi         HR   52000
6    Frank      Chicago  Marketing   58000
7    Grace  New Orleans    Finance   62000
8      Bob       London         IT   60000
9   Hannah      Houston         HR   51000

In [260]:
duplicated_employee_profile.drop_duplicates(subset=['Name'], keep='first')

      Name         City Department  Salary
0    Alice     New York         HR   50000
1      Bob  Los Angeles         IT   65000
3  Charlie       Newark    Finance   55000
4    David       Boston         IT   70000
5      Eve    New Delhi         HR   52000
6    Frank      Chicago  Marketing   58000
7    Grace  New Orleans    Finance   62000
9   Hannah      Houston         HR   51000

In [261]:
duplicated_employee_profile.drop_duplicates(subset=['Name'] ,keep='last')

      Name         City Department  Salary
2    Alice     New York         HR   50000
3  Charlie       Newark    Finance   55000
4    David       Boston         IT   70000
5      Eve    New Delhi         HR   52000
6    Frank      Chicago  Marketing   58000
7    Grace  New Orleans    Finance   62000
8      Bob       London         IT   60000
9   Hannah      Houston         HR   51000

In [262]:
duplicated_employee_profile.drop_duplicates(subset=['Department'])

      Name         City Department  Salary
0    Alice     New York         HR   50000
1      Bob  Los Angeles         IT   65000
3  Charlie       Newark    Finance   55000
6    Frank      Chicago  Marketing   58000

### 14.5: Handling Null Values

In [263]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [264]:
### drop null values

student_data.dropna()

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [265]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [266]:
student_data.dropna(how='all',inplace=True)

In [267]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [268]:
student_data.fillna(0)

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,0.0,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,0.0,0.0,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,0.0,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,0.0,0.0,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,0.0,0.0,0.0,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,0
15,PH1016,Ziaur Rahman,94.0,94.0,0.0,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,0.0,0.0,0.0,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [269]:
student_data.fillna({'Data Structure Marks':student_data['Data Structure Marks'].mean()},inplace=True)

student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,84.0,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,84.0,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,84.0,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,84.0,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [270]:
student_data.fillna({'Algorithm Marks':student_data['Algorithm Marks'].mean()},inplace=True)

student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,84.0,84.0,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,84.0,84.0,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,84.0,84.0,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,84.0,84.0,NaN,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [271]:
student_data.fillna({'Python Marks':round(student_data['Python Marks'].mean())},inplace=True)

student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,DS Passed,Algorithm Passed,Python Passed,First Name,Last Name
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,True,True,True,Alif,Rahman
1,PH1002,Fatima Akhter,92.0,92.0,86.0,In Progress,2024-01-20,Ms. Salma,Chattogram,184.0,True,True,False,Fatima,Akhter
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,True,True,True,Imran,Hossain
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,True,True,True,Jannatul,Ferdous
4,PH1005,Kamal Uddin,84.0,84.0,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram,95.0,False,False,True,Kamal,Uddin
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,True,True,True,Laila,Begum
6,PH1007,Mahmudul Hasan,80.0,80.0,86.0,In Progress,2024-04-01,Mr. Karim,Dhaka,160.0,True,True,False,Mahmudul,Hasan
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,True,True,True,Nadia,Islam
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,True,True,True,Omar,Faruq
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,True,True,True,Priya,Sharma
10,PH1011,Rahim Sheikh,84.0,84.0,91.0,In Progress,2024-06-11,Mr. Karim,Khulna,91.0,False,False,True,Rahim,Sheikh
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,True,True,True,Sadia,Chowdhury
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,True,True,True,Tanvir,Ahmed
13,PH1014,Urmi Akter,84.0,84.0,86.0,Not Started,2024-07-09,Ms. Salma,Rajshahi,0.0,False,False,False,Urmi,Akter
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,True,True,True,Wahiduzzaman,None
15,PH1016,Ziaur Rahman,94.0,94.0,86.0,In Progress,2024-08-21,Ms. Salma,Chattogram,188.0,True,True,False,Ziaur,Rahman
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,True,True,True,Afsana,Mimi
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,True,True,True,Babul,Ahmed
18,PH1019,Faria Rahman,84.0,84.0,86.0,Not Started,2025-09-15,Mr. David,Chattogram,0.0,False,False,False,Faria,Rahman
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,True,True,True,Nasir,Khan

In [272]:
### add new column Passed in DS 

student_data['DS Passed'] = student_data['Data Structure Marks'] > 80

### add new column Passed in Algorithm

student_data['Algorithm Passed'] = student_data['Algorithm Marks'] > 80

### add new column Passed in Python

student_data['Python Passed'] = student_data['Python Marks'] > 80

### 14.6: Statistical Functions in Pandas

In [273]:
student_data['Data Structure Marks'].sum()

np.float64(1680.0)

In [274]:
student_data['Data Structure Marks'].describe().round(2)

count    20.00
mean     84.00
std       5.78
min      72.00
25%      80.75
50%      84.50
75%      88.00
max      94.00
Name: Data Structure Marks, dtype: float64

In [275]:
student_data['Algorithm Marks'].mean()

np.float64(84.0)

In [276]:
student_data['Algorithm Marks'].min()

np.float64(72.0)

In [277]:
student_data['Algorithm Marks'].max()

np.float64(94.0)

In [278]:
student_data['Algorithm Marks'].median()

np.float64(84.5)

In [279]:
student_data['Data Structure Marks'].mode()

0    84.0
Name: Data Structure Marks, dtype: float64

In [280]:
student_data['Algorithm Marks'].std().round(4)

np.float64(5.7765)

In [281]:
student_data[['Data Structure Marks', 'DS Passed']].corr()

                      Data Structure Marks  DS Passed
Data Structure Marks              1.000000   0.820351
DS Passed                         0.820351   1.000000

In [282]:
student_data[['Data Structure Marks', 'Python Marks']].corr()

                      Data Structure Marks  Python Marks
Data Structure Marks              1.000000      0.651008
Python Marks                      0.651008      1.000000

In [285]:
student_data = pd.read_csv('student_data.csv')
student_data.dropna(inplace=True)
student_data['Total Marks']=student_data[['Data Structure Marks', 'Python Marks', 'Algorithm Marks']].sum(axis=1)

In [287]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0

In [292]:
student_data['Total Marks (Slice)']=student_data.iloc[::,2:5].sum(axis=1)

In [293]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,Total Marks (Slice)
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,258.0
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,261.0
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,238.0
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,228.0
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,247.0
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,220.0
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,266.0
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,257.0
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,229.0
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,256.0
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,273.0
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,261.0
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,261.0

### 14.7: Apply Function in DF

In [294]:
# min max scaling

In [295]:
mn = student_data['Total Marks'].min()

mx = student_data['Total Marks'].max()

In [299]:
student_data['Scaled Marks'] = student_data['Total Marks'].apply(lambda x: (x-mn)/(mx-mn))

In [301]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,Total Marks (Slice),Scaled Marks
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,258.0,0.716981
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,261.0,0.773585
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,238.0,0.339623
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,228.0,0.150943
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,247.0,0.509434
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,220.0,0.000000
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,266.0,0.867925
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,257.0,0.698113
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,229.0,0.169811
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,256.0,0.679245
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,273.0,1.000000
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,261.0,0.773585
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,261.0,0.773585

In [306]:
def SET_Grade(total_marks):
    if total_marks >= 270:
        return 'A+'
    elif total_marks >=260:
        return 'A'
    else:
        return 'F'

In [312]:
student_data['GPA'] = student_data['Total Marks'].apply(SET_Grade)

In [314]:
student_data

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,Total Marks (Slice),Scaled Marks,GPA
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka,258.0,258.0,0.716981,F
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka,261.0,261.0,0.773585,A
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet,238.0,238.0,0.339623,F
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi,228.0,228.0,0.150943,F
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram,247.0,247.0,0.509434,F
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka,220.0,220.0,0.000000,F
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet,266.0,266.0,0.867925,A
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram,257.0,257.0,0.698113,F
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka,229.0,229.0,0.169811,F
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka,256.0,256.0,0.679245,F
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka,273.0,273.0,1.000000,A+
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet,261.0,261.0,0.773585,A
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka,261.0,261.0,0.773585,A

### 14.9 Grouping in dataframe

In [316]:
student_info = pd.read_csv('student_completed_data.csv')

In [317]:
student_info

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Instructor,Location,Total Marks
0,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Ms. Salma,Khulna,300
1,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Mr. Karim,Dhaka,271
2,PH0003,Imran Hossain,Completed,2024-05-08,2024-08-08,Ms. Salma,Dhaka,269
3,PH0004,Jannatul Ferdous,Completed,2024-07-05,2024-09-23,Mr. Karim,Khulna,270
4,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Mr. David,Sylhet,254
5,PH0006,Laila Begum,Completed,2024-09-07,2024-12-31,Mr. David,Khulna,272
6,PH0007,Mahmudul Hasan,Completed,2024-06-07,2024-07-20,Mr. David,Chattogram,249
7,PH0008,Nadia Islam,Completed,2024-03-22,2024-05-01,Ms. Salma,Khulna,246
8,PH0009,Omar Faruq,Completed,2024-02-12,2024-06-08,Mr. Karim,Dhaka,291
9,PH0010,Priya Sharma,Completed,2024-06-19,2024-08-19,Mr. David,Dhaka,286
10,PH0011,Rahim Sheikh,Completed,2024-03-14,2024-06-11,Mr. Karim,Sylhet,283
11,PH0012,Sadia Chowdhury,Completed,2024-08-04,2024-10-25,Mr. Karim,Sylhet,266
12,PH0013,Tanvir Ahmed,Completed,2024-06-07,2024-08-03,Mr. David,Dhaka,248
13,PH0014,Urmi Akter,Completed,2024-01-04,2024-03-23,Mr. David,Sylhet,285
14,PH0015,Wahiduzzaman,Completed,2024-02-22,2024-05-16,Mr. David,Rajshahi,291
15,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Ms. Salma,Rajshahi,234
16,PH0017,Afsana Mimi,Completed,2024-01-18,2024-03-16,Mr. David,Khulna,236
17,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Mr. David,Dhaka,278
18,PH0019,Faria Rahman,Completed,2024-04-19,2024-08-17,Mr. Karim,Sylhet,277
19,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Mr. Karim,Khulna,253

In [322]:
instructor_group = student_info.groupby('Instructor')

In [327]:
instructor_group.size()

Instructor
Mr. David    9
Mr. Karim    7
Ms. Salma    4
dtype: int64

In [333]:
instructor_group['Total Marks'].agg(Student_Count='count', Total_Marks= 'sum', Average_Marks='mean', ).round(2)

            Student_Count  Total_Marks  Average_Marks
Instructor
Mr. David               9         2399         266.56
Mr. Karim               7         1911         273.00
Ms. Salma               4         1049         262.25

In [335]:
instructor_group.first()

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Location,Total Marks
Instructor,,,,,,,
Mr. David,PH0005,Kamal Uddin,Completed,2024-02-01,2024-04-17,Sylhet,254
Mr. Karim,PH0002,Fatima Akhter,Completed,2024-08-11,2024-11-07,Dhaka,271
Ms. Salma,PH0001,Alif Rahman,Completed,2024-09-01,2024-12-23,Khulna,300

In [337]:
instructor_group.last()

,StudentID,FullName,CompletionStatus,EnrollmentDate,FinishedDate,Location,Total Marks
Instructor,,,,,,,
Mr. David,PH0018,Babul Ahmed,Completed,2024-06-23,2024-09-20,Dhaka,278
Mr. Karim,PH0020,Tariq Hasan,Completed,2024-07-21,2024-10-11,Khulna,253
Ms. Salma,PH0016,Ziaur Rahman,Completed,2024-03-23,2024-06-21,Rajshahi,234

### 14.10: Problem Solve